body {
	display: -webkit-flex;
	display: flex;
	
	-webkit-flex-direction: column;
	flex-direction: column;
	
	font-family: sans-serif;
	height: 100vh;
	margin: 0;
}

textarea {
	padding: 20px;
}

textarea {
	border: none;
	box-sizing: border-box;
	
	-webkit-flex: 1;
	flex: 1;
	
	font-family: inherit;
	font-size: inherit;
	outline: none;
	overflow: auto;
	resize: none;
	width: 100%;
}

footer {
	background: black;
	color: white;
	
	display: -webkit-flex;
	display: flex;
}

footer > div {
	-webkit-flex: 1;
	flex: 1;
	
	margin: 20px;
	text-align: center;
}

.hidden {
	display: none;
}
